/* Section image w/ padding */
.section__image-padding {
    display: flex;
    position: relative;
    width: 50vw;
    padding:5%;
    border-right: 1px solid;
}

/* Information panels inside each section */
.panel {
    display: flex;
    position: relative;
    width: 50vw;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: space-around;
    padding: 3rem;
}

.panel__heading {
    height:fit-content;
    font-size: 3vw;
    font-weight: 900;
}

.panel__subheading {
    font-size: 1.5rem;
}

.panel__tag {
    font-size: 1.25rem;
}