/*  
##############################
##### Common CSS Classes #####
##############################
*/

.section {
    height: 70vh;
    display: flex;
    border-bottom: 1px solid;
}

.section__image {
    background-image:url('https://placehold.co/950x700');
    display: flex;
    position: relative;
    width: 50vw;
}

.section__body {
    display: flex;
    position: relative;
    width: 50vw;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: space-around;
    padding: 3rem;
}

/*  
#################################### 
##### Section specific classes #####
####################################
*/

/* WORKS SECTION */
.section__image-works {
    display: flex;
    position: relative;
    width: 70vw;
    overflow: hidden;
}

.section__image-row {
    background-image:url('https://placehold.co/350x600');
    width: 40vw;
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    padding: 10rem;
}

/* DESIGN PROCESS SECTION */
.section__design-body {
    display: flex;
    position: relative;
    width: 50vw;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.section__design-heading {
    height:fit-content;
    margin: 5rem 0 0 3rem;
    font-size: 3rem;
    font-weight: 900;
}

.section__design-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 55vw;
    overflow: hidden;
    padding: 0 3rem 0 3rem;
    font-size: 18px;
    text-wrap:balance;
    justify-content: space-evenly;
}

/* SERVICES SECTION */
/* List item marker modifications */
li::marker {
    font-size: 3rem;
    vertical-align: middle;
}

li {
    margin-bottom: 2rem;
    text-align: left;
}

.section__services-image-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 50vw;
    overflow: hidden;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
}

.section__services-image-grid {
    background-color: khaki;
    background-image:url('https://placehold.co/325x325');
    width: 45%;
    height: 45%;
    margin: 1rem;
}
