.nav {
    background: #e7dfd0;;
    height: 5rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    border-bottom: 2px solid;
}

.nav__title {
    position: absolute;
    left: 47%;
}

.nav__desktop-menu-item {
    padding: 1rem;
    cursor: pointer;
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the color from the parent */
}

.nav__desktop-menu-item:hover {
    color: black;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid black;
}

.active {
    color: black;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid black;
}

@media screen and (max-width: 720px){
    .mobMenu {
        display: flex;
    }
    .nav__desktop-menu {
        display: none;
    }
    .desktopMenuBtn {
        display: none;
    }
}