/* .firstPanel {
    height: 70vh;
    display: flex;
    border-bottom: 1px solid;
}

.firstImg {
    background-image:url('https://placehold.co/950x700');
    display: flex;
    position: relative;
    width: 50vw;
}

.firstHeading {
    display: flex;
    position: relative;
    width: 50vw;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: space-around;
}

.firstHeadingText {
    height:fit-content;
    margin-left: 3rem;
    font-size: 3vw;
    font-weight: 900;
}

.firstText {
    margin-left: 3rem;
    font-size: 0.938vw;
    line-height: 1.5rem;
} */