.footer {
    height: 22vh;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    text-align: left;

}